<div class="container" id="tintuc">
    <div class="row">
        <div class="col-sm-12 choose py-2">
            <button class="btn active" (click)="selection('dienAnh')">Điện Ảnh 24h</button>
            <button class="btn " (click)="selection('review')">Review</button>
            <button class="btn " (click)="selection('khuyenMai')">Khuyến Mãi</button>
        </div>
    </div>
    <div class="row" [ngSwitch]="loaiTinTuc">
        <div class="col-sm-12" *ngSwitchCase="'dienAnh'">
            <app-dien-anh></app-dien-anh>
        </div>
        <div class="col-sm-12" *ngSwitchCase="'review'">
            <app-review></app-review>
        </div>
        <div class="col-sm-12" *ngSwitchCase="'khuyenMai'">
            <app-khuyen-mai></app-khuyen-mai>
        </div>
    </div>
</div>