<div class="row news ">
  <div class="col-sm-6">
    <div>
      <img class="news-img" src="https://s3img.vcdn.vn/123phim/2020/09/dfa4ff8badfc663a06a19e751c89c047.jpg">
    </div>
    <h5 class="news-title">
      <a href="#">[ANTEBELLUM] - 4 lý do không thể bỏ lỡ siêu phẩm kinh dị Antebellum: Bẫy Thực Tại Kinh Hoàng</a>
    </h5>
    <p class="news-text">
      Trong hơn 20 năm qua, Nolan đã thành công chiêu mộ và chỉ đạo nhiều diễn viên nổi tiếng trong những tác
      phẩm kinh điển như The Dark Knight, Inception, Interstellar, Dunkirk và sắp tới đây là Tenet...
    </p>
    <!-- <div class="social-count">
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
      </span>
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
      </span>
    </div> -->
  </div>
  <div class="col-sm-6">
    <div>
      <img class="news-img"
        src="https://s3img.vcdn.vn/123phim/2020/08/truy-cung-giet-tan-cuoc-tai-ngo-cua-hai-ong-hoang-phong-ve-xu-han-15966122361852.png">
    </div>
    <h5 class="news-title">
      <a href="#">Truy Cùng Giết Tận - Cuộc tái ngộ của hai 'ông hoàng phòng vé' xứ Hàn</a>
    </h5>
    <p class="news-text">
      Sau 7 năm kể từ New World – bộ phim đạt thành tích hơn 4.68 triệu vé, hai tên tuổi lão làng
      trong làng điện ảnh Hàn Quốc mới tiếp tục tái hợp trong Truy Cùng Giết Tận – một bộ phim hành động siêu “nặng
      đô”
    </p>
    <!-- <div class="social-count">
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
      </span>
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
      </span>
    </div> -->
  </div>
  <div class="col-sm-4">
    <div>
      <img class="news-img" src="https://s3img.vcdn.vn/123phim/2020/08/2d1aa8014d4b307345df3884c4b42334.jpg">
    </div>
    <h5 class="news-title">
      <a href="#">Ác Quỷ Đối Đầu soán ngôi Peninsula, trở thành phim đứng đầu doanh thu tại Hàn Quốc mùa dịch</a>
    </h5>
    <p class="news-text">
      Ác Quỷ Đối Đầu (tựa cũ: Truy Cùng Giết Tận) là câu chuyện của In-nam (Hwang Jung Min) – một tay sát thủ quyết định
      giải nghệ sau khi thực hiện hợp đồng cuối cùng của mình. Chưa kịp rửa tay gác kiếm, In-nam chợt nhận được thông
      tin con gái mình bị bắt cóc ở Thái Lan
    </p>
    <!-- <div class="social-count">
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
      </span>
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
      </span>
    </div> -->
  </div>
  <div class="col-sm-4">
    <div>
      <img class="news-img" src="https://s3img.vcdn.vn/123phim/2020/08/Elizabeth%203-dd6630.jpg">
    </div>
    <h5 class="news-title">
      <a href="#">Dàn mỹ nhân trong thế giới điện ảnh của quái kiệt Christopher Nolan</a>
    </h5>
    <p class="news-text">
      Trong hơn 20 năm qua, Nolan đã thành công chiêu mộ và chỉ đạo nhiều diễn viên nổi tiếng trong những tác
      phẩm kinh điển như The Dark Knight, Inception, Interstellar, Dunkirk và sắp tới đây là Tenet...
    </p>
    <!-- <div class="social-count">
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
      </span>
      <span class="mr-5">
        <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
      </span>
    </div> -->
  </div>
  <div class="col-sm-4 demo">
    <div class="row">
      <div class="col-sm-3">
        <img
          src="https://s3img.vcdn.vn/123phim/2020/08/6-da-o-die-n-ti-do-lam-nen-thanh-cong-cua-nhu-ng-bom-ta-n-di-nh-da-m-nha-t-hollywood-15966023547553.png"
          alt="" class="news-img">
      </div>
      <div class="col-sm-9">
        <div class="text">
          6 đạo diễn tỉ đô làm nên thành công của những bom tấn đình đám nhất Hollywood
        </div>
      </div>
    </div>
    <div class="row py-1">
      <div class="col-sm-3">
        <img src="https://s3img.vcdn.vn/123phim/2020/08/gai-gia-lam-chieu-v-nhung-cuoc-doi-vuong-gia-15965999321682.png"
          alt="" class="news-img">
      </div>
      <div class="col-sm-9 text">
        <p>Gái Già Lắm Chiêu V – Những cuộc đời vương giả</p>
      </div>
    </div>
    <div class="row  py-1">
      <div class="col-sm-3">
        <img
          src="https://s3img.vcdn.vn/123phim/2020/07/kaity-nguyen-tro-thanh-my-nhan-moi-cua-vu-tru-gai-gia-lam-chieu-15959988694730.png"
          alt="" class="news-img">
      </div>
      <div class="text col-sm-9">
        <p>Kaity Nguyễn trở thành mỹ nhân mới của vũ trụ Gái Già Lắm Chiêu</p>
      </div>
    </div>
  </div>
</div>