<div class="mobile-ads">
    <div class="row">
        <div class="d-flex container">
            <div class="mobile-ads__left w-50 d-flex align-items-center col-md-6">
                <div>
                    <h2 class="mb-3">Ứng dụng tiện lợi dành cho </h2>
                    <h2>người yêu điện ảnh</h2>
                    <p>
                        Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và đổi quà hấp dẫn.
                    </p>
                    <button class="btn btn-danger py-3 px-3">
              App miễn phí - Tải về ngay!
            </button>
                    <p class="mt-2">TIX có hai phiên bản <a href="#">iOS</a> & <a href="#">Android</a></p>
                </div>
            </div>
            <div class="mobile-ads__right d-flex col-md-6">
                <div class="iphone">
                    <img alt="Loading..." class="img-responsive phone-img" src="https://tix.vn/app/assets/img/icons/mobile.png">
                    <div class="phone-screen-container">
                        <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig" class="carousel">
                            <div class="phone-screen-wrapper slide" ngxSlickItem>
                                <img alt="https://tix.vn/app/assets/img/icons/slide/slide2.jpg" src="https://tix.vn/app/assets/img/icons/slide/slide2.jpg">
                            </div>
                            <div class="phone-screen-wrapper slide" ngxSlickItem>
                                <img alt="https://tix.vn/app/assets/img/icons/slide/slide3.jpg" src="https://tix.vn/app/assets/img/icons/slide/slide3.jpg">
                            </div>
                        </ngx-slick-carousel>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 right"> 
          <img class="img-responsive phone-img" src="https://tix.vn/app/assets/img/icons/mobile.png" alt="Loading...">
          <div id="sliderScreen" class="wrapSlick slick-initialized slick-slider">
              <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 3510px; transform: translate3d(-3120px, 0px, 0px);" role="listbox"><div class="slickComponent itemslide slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 195px;" tabindex="-1">
                  <img src="app/assets/img/icons/slide/slide16.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="0" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide200">
                  <img src="app/assets/img/icons/slide/slide1.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="1" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide201">
                  <img src="app/assets/img/icons/slide/slide2.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="2" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide202">
                  <img src="app/assets/img/icons/slide/slide3.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="3" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide203">
                  <img src="app/assets/img/icons/slide/slide4.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="4" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide204">
                  <img src="app/assets/img/icons/slide/slide5.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="5" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide205">
                  <img src="app/assets/img/icons/slide/slide6.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="6" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide206">
                  <img src="app/assets/img/icons/slide/slide7.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="7" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide207">
                  <img src="app/assets/img/icons/slide/slide8.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="8" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide208">
                  <img src="app/assets/img/icons/slide/slide9.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="9" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide209">
                  <img src="app/assets/img/icons/slide/slide10.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="10" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide2010">
                  <img src="app/assets/img/icons/slide/slide11.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="11" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide2011">
                  <img src="app/assets/img/icons/slide/slide12.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="12" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide2012">
                  <img src="app/assets/img/icons/slide/slide13.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="13" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide2013">
                  <img src="app/assets/img/icons/slide/slide14.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide" data-slick-index="14" aria-hidden="true" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide2014">
                  <img src="app/assets/img/icons/slide/slide15.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide slick-current slick-active" data-slick-index="15" aria-hidden="false" style="width: 195px;" tabindex="-1" role="option" aria-describedby="slick-slide2015">
                  <img src="app/assets/img/icons/slide/slide16.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div><div class="slickComponent itemslide slick-slide slick-cloned" data-slick-index="16" aria-hidden="true" style="width: 195px;" tabindex="-1">
                  <img src="app/assets/img/icons/slide/slide1.jpg" onload="localStorage.setItem('slide', 1);">
                  <div class="backgroundLinear"></div>
              </div></div></div>
          </div>
      </div>
      </div> -->
        </div>
    </div>