<div class="container">
    <div class="row">
       
        
        <!-- Danh sách phim -->
        

      <!-- <owl-carousel-o [options]="customOptions" #owlCat>
      
        <ng-template carouselSlide>
          <div class="slide">
            
          </div>
        </ng-template>
      </owl-carousel-o> -->
      <div *ngFor="let phim of danhSachPhim">
        <app-item-phim [Phim]="phim"></app-item-phim>             
      </div>
      <div>Some tags before</div>
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
        
        </ng-template>  
      
      </owl-carousel-o>
      <div>Some tags after</div>
    </div>
  
</div>