<header id="header">
    <a href="#" class="logo">
        <img src="https://tix.vn/app/assets/img/icons/web-logo.png" alt="">
    </a>
    <nav class="header__menu">
        <ul>
            <li>
                <a href="#">Lịch chiếu</a>
            </li>
            <li>
                <a href="#">Cụm rạp</a>
            </li>
            <li>
                <a href="#">Tin tức</a>
            </li>
            <li>
                <a href="#">Ứng dụng</a>
            </li>
        </ul>
    </nav>
    
    <div class="header__right ml-auto">
        <div class="d-flex align-items-center">
            <a href="#" class="signin" routerLink="/signin">
                <fa-icon [icon]="faUserCircle" ></fa-icon>
                <span >Đăng nhập</span>
            </a>
          <div class="dropdown header__location d-flex align-items-center">
            <button class=" btn dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
              <i class="fa fa-map-marker-alt mr-1"></i> Hồ Chí Minh
            </button>
            <div class="dropdown-menu" aria-labelledby="triggerId">
              <a class="dropdown-item" href="#">Hồ Chí Minh</a>
              <a class="dropdown-item" href="#">Hà Nội</a>
              <a class="dropdown-item" href="#">Đà Nắng</a>
            </div>
          </div>
        </div>
    </div>
</header>