
<div class="row news">
    <div class="col-sm-6">
      <div>
        <img class="news-img" src="https://s3img.vcdn.vn/123phim/2020/08/review-tan-tich-quy-am-relic-ba-the-he-va-moi-lien-ket-15965255784224.png">
      </div>
      <h5 class="news-title">
        <a href="#"><p class="newsTitle ng-binding">Review: Tàn Tích Quỷ Ám (Relic) - Ba thế hệ và mối liên kết</p></a>
      </h5>
      <p class="news-text">
        Điểm nhấn của phim kinh dị năm 2020 chính là Tàn Tích Quỷ Ám
      </p>
      <!-- <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div> -->
    </div>
    <div class="col-sm-6">
      <div>
        <img class="news-img"
          src="https://s3img.vcdn.vn/123phim/2020/08/review-dinh-thu-oan-khuat-ghost-of-war-15965120886610.png">
      </div>
      <h5 class="news-title">
        <a href="#"><p class="newsTitle ng-binding">Review: Dinh Thự Oan Khuất (Ghost Of War)</p></a>
      </h5>
      <p class="news-text">
        Tuy là một bộ phim có chất lượng tốt, nhưng có vẻ Dinh Thự Oan Khuất vẫn chưa đủ để đem khán giả trở lại phòng vé!
      </p>
      <!-- <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div> -->
    </div>
    <div class="col-sm-4">
      <div>
        <img class="news-img" src="https://s3img.vcdn.vn/123phim/2020/06/blackkklansman-coc-nuoc-lanh-de-nguoi-my-thuc-tinh-15910862294165.png">
      </div>
      <h5 class="news-title">
        <a href="#"><p class="newsTitle ng-binding">‘BlacKkKlansman’ - cốc nước lạnh để người Mỹ thức tỉnh</p></a>
      </h5>
      <p class="news-text">
        Tác phẩm nhận đề cử Phim truyện xuất sắc tại Oscar 2019 của đạo diễn Spike Lee là một lát cắt nữa về nạn phân biệt chủng tộc - nỗi đau gây nhức nhối nước Mỹ cho tới tận hôm nay.
      </p>
      <!-- <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div> -->
    </div>
    <div class="col-sm-4">
      <div>
        <img class="news-img" src="https://s3img.vcdn.vn/123phim/2020/05/american-sniper-chinh-nghia-hay-phi-nghia-15905660338111.png">
      </div>
      <h5 class="news-title">
        <a href="#"><p class="newsTitle ng-binding">American Sniper - Chính nghĩa hay phi nghĩa?</p></a>
      </h5>
      <p class="news-text">
       American Sniper khắc họa một tay súng bắn tỉa “huyền thoại” của Hải quân Mỹ với 4 lần tham chiến ở Trung Đông. Câu chuyện phim chậm rãi đưa người xem qua từng thời khắc khác nhau của Kyle, từ thửa nhỏ, thiếu niên, rồi gia nhập quân đội, rồi tham chiến. Từng khoảnh khắc bắt đầu nhẹ nhàng...
      </p>
      <!-- <div class="social-count">
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/like.png"> 0
        </span>
        <span class="mr-5">
          <img alt="" class="iconFacebook postLike" src="https://tix.vn/app/assets/img/icons/comment.png"> 0
        </span>
      </div> -->
    </div>
    <div class="col-sm-4 demo">
      <div class="row">
        <div class="col-sm-3">
          <img
            src="https://s3img.vcdn.vn/123phim/2020/05/review-spider-man-into-the-spider-vesre-15886520889426.png"
            alt="" class="news-img">
        </div>
        <div class="col-sm-9">
          <div class="text">
            <p >Review: Spider-Man: Into The Spider-Vesre </p>
          </div>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-sm-3">
          <img src="https://s3img.vcdn.vn/123phim/2020/03/covid-19-la-ban-chinh-thuc-cua-mev-1-phim-contagion-2011-15843496198482.jpg"
            alt="" class="news-img">
        </div>
        <div class="col-sm-9 text">
            <p >COVID-19 là bản chính thức của MEV-1 phim contagion (2011)</p>
        </div>
      </div>
      <div class="row  py-1">
        <div class="col-sm-3">
          <img
            src="https://s3img.vcdn.vn/123phim/2020/03/review-sieu-ve-si-so-vo-giai-cuu-tong-thong-chua-bao-gio-lay-loi-va-hai-huoc-den-the-15840925506832.jpg"
            alt="" class="news-img">
        </div>
        <div class="text col-sm-9">
            <p >[Review] Siêu Vệ Sĩ Sợ Vợ - Giải cứu Tổng thống chưa bao giờ lầy lội và hài hước đến thế</p>
        </div>
      </div>
    </div>
  </div>